# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# 其他模组的源码文件夹
/mutantmore/
/referencemod/
/FireNBlood-master/
/Goety-master/

# 编译输出
/build/
/out/
/bin/
/com/
/assets/
/data/
.class

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# 前置模组 libs 目录（只跟踪 jar 文件）
libs/*
!libs/*.jar
